@font-face {
    font-family:"Formula1-Regular";
    src : url(../../assets/Formula1-Regular.ttf);
  }
  @font-face {
    font-family:"Formula";
    src : url(../../assets/Formula.ttf);
  }
  
  
  
  #contenuPrincipal{
    
  height: 450px;
  background-image: url(../../assets/fond_ciel_nuage.jpg);
    background-size: contain;
    border-bottom :solid black 5px;
    text-decoration: none;

  }
  
  #titre{
    font-family:"Formula1-Regular";
    font-size: xx-large;
    text-align: center;
  }

  #tour{
    font-family: "Formula1-Regular";
    font-size: 38px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-decoration-style: italic;
    text-decoration-style: italic;
    color: red;
    background-color: black;
    height: 64px;
    justify-content: center;
  }

  #actions{
     // background-image: url(../../assets/infrastructure2.jpg);
      border : solid black 5px;
      
  }

 

  
  #classement{
    font-family:"Formula1-Regular";
    text-align: center;
    
    font-size: 18px;
    color: red;
    background-color: black;
    
    border-radius : 10%;
    
  }

  #titrePrincipal{
    font-family:"Formula1-Regular";
    text-align: center;
    text-transform: uppercase;
    color: red;
    background-color: black;
    margin: 0;
  }
  
  #titreCourse{
    font-family:"Formula";
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    color: red;
    background-color: black;
  }
  
  #titreCourse2{
    font-family:"Formula1-regular";
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: red;
    background-color: black;
  }
  

 #titreclass{
  font-family:"Formula1-Regular";
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: red;  
 }
 
  #bout{
    display: flex;
    justify-content: center;
  }

  #bout:hover{
    transform: scale(1.1);
  }
  #containClass{
    display: flex;
    justify-content: center;
  }
  

  #btnValid{
    background-image: url("../../assets/font-bouton.png");
    background-size: contain;
      height: 75px;
      width: 225px;
      border: none;
      color: white;
      font-size: 23px;
      font-family: "Formula1-Regular";
  }
  
  
  #btnValid:hover{
    transform: scale(1.1);
  }

  #baspage
{
  position:relative;
  display :flex;
height:23%;

background-color : grey;
}
#voiture
{

position:absolute;
top:10px;
right:0px;
transform:scale(1.0)

}
#voitureBleu

{
  position:absolute;
  top:120px;
  right:10px;
  transform:scale(1.0)
}
#piste{width:100%;}
#piste img
{
width:100%;
height: 300px;
}