<div class="card">
    
    <h2>Classement</h2>
    <div>
        <ul *ngFor="let ecurie of list()">
            <ul *ngFor="let p of ecurie.pilotes">
                <li>{{p.nom}}</li>
                <li>{{positionPilote}} = {{p.experience + p.age}}</li>
            </ul>
        </ul>
    
        <ul *ngFor="let ecurie of list()">
            <ul *ngFor="let v of ecurie.voitures">
                <li>{{v.marque}}</li>
                <li>{{positionVoiture}} = {{ (v.maniabilite + v.vitesse)- v.poids/10 }}</li>
            </ul>
        </ul>

        {{positionFinale}} = {{positionPilote}} + {{positionVoiture}}
    </div>

    <div>
        
    </div>

    <div>
       
    </div>

    <!-- <h2>Classement</h2>
    <div>
        <button (click)="findPilote(1)"> Classement</button> 
             <ul *ngFor="let p of ecuries.pilote">
                <li>{{p.experience}}</li>
            </ul> 
    </div>
    <div>{{pilote.experience}}</div> -->



</div>
