
<div id="tour">Tour {{nbTour}} /12</div>

<div id="contenuPrincipal">

    <div id="actions">
        <button (click)="findEcurie(1)">REPARATION </button>nom ecurie : {{ecurie?.nom}}

        <button (click)= "findCourse(1)">COURSE</button>
        </div>
<div id="tour">Tour {{nbTour}} /{{course?.nombreTour}}</div>

<div id="contenuPrincipal">

    <div id="actions">
        <button>REPARATION</button>
        <a><button (click)="passerTour()">PASSER TOUR</button></a>
    </div>

    
   
                
            <table id="classement">
                <thead>
                    <tr>
                        <th>CLASSEMENT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let valeur of scoreGeneral">
                        <td>{{valeur}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    </div>
    

        <button (click)="findPilote(1)">
            Pilote
        </button>


