nav ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:#f31d1d;
    border-bottom :solid black 5px;
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
    color :black;
    font-weight:bold;
    font-family:"Formula1-Regular";
    margin-bottom: 0rem;
  }

  .nav-link{
    color :black;
  }
  
  .container-fluid{
    padding-right: var(--bs-gutter-x, 0rem);
    padding-left: var(--bs-gutter-x, 0rem);
}

  @font-face {
    font-family:"Formula1-Regular";
    src : url(./../assets/Formula1-Regular.ttf);
   
  }
  @font-face {
    font-family:"Formula";
    src : url(./../assets/Formula.ttf);
  }
  .btn, .btn-primary {
background-color: black;
border-color:white;
  }
  #logo{
    height:70px ;
    width:77px;
    transition: transform .1s;
    cursor: pointer;
  }
  #logo:hover{
     transform: scale(1.1);
  }
  