<nav  >
  <ul >
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pilote']" routerLinkActive="active">Pilote</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/voiture']" routerLinkActive="active">Voiture</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/infrastructure']" routerLinkActive="active">Infrastructure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ecurie']" routerLinkActive="active">Ecurie</a>
    </li>
      
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>