#titre{
    display:flex;
    justify-content:center;
    font-weight: bolder;
    color: rgb(255, 6, 6);
    -webkit-text-stroke: 2px black;
    font-size: 500%;
}
#argent{
    display:flex;
    justify-content:left;
    align-items: flex-end;
    color: rgb(241, 255, 38);
    -webkit-text-stroke: 2px black;
}
#carouselExampleIndicators{
    //display:flex;
    //justify-content:center;
    //align-items:center;
    position : relative;
    left:40%;
    width: 50%;
    height: auto;
}
.card-img-top{
    max-height: 10%;
	width: auto;
    background-color:#FAF6EF;
    //#7ea1ff;
    
}
.card-title{
    color:gray;
    -webkit-text-stroke: 2px black; 
}
.carousel-control-prev-icon{
    //color: black;
    position : relative;
    right:300%;
}

#bck-img {
    background-image: url(../../assets/fond_ciel_nuage.jpg);
    height: 100%;
}

#sous-titre{
    display:flex;
    justify-content:center;
}
.infos{
    font-weight: bolder;
}
.card-text{
    font-weight: bolder;
    color:green;
}
