#titre{
    font-family:"Formula1-Regular";
    text-align: center;
}
#argent{
    font-family:"Formula1-Regular";
    text-align: center;
}
#carouselExampleIndicators{
    //display:flex;
    //justify-content:center;
    //align-items:center;
    position : relative;
    left:40%;
    width: 50%;
    height: auto;
}
.card{
    background-color:#7ea1ff ;
}
.card-img-top{
    height:319px ;
    width: 157px;
    position:relative;
    left: 22%;
    background-color:#7ea1ff;
    //#7ea1ff;
    
}
.card-title{
    font-family:"Formula1-Regular";
    text-align: center; 
}
.list-group, .list-group-flush{
    background-color: #7ea1ff;
}
.carousel-control-prev-icon{
    //color: black;
    position : relative;
    right:300%;
}

#bck-img {
    background-image: url(../../assets/fond_ciel_nuage.jpg);
    height: 100%;
}

#sous-titre{
    display:flex;
    justify-content:center;
}
.list-group-item{
    font-family:"Formula1-Regular";
}
.infos{
    font-weight: bolder;
}
.card-text{
    font-family:"Formula1-Regular";
    text-align: center;
}
.footer{
    display: flex;
    align-items: center;  
    justify-content: space-evenly; 
}
.piloteSelect{
    width: 35%;
    border: 10px;
    
}
.piloteSelect1{
    width: 35%;
    border: 10px;
    border: 5px solid white;
}
.card-text{
    font-family: "Formula1-Regular";
    position:relative;
    right:10%;
    font-size: 20px;
    
}

.btnSelect{
    background-image: url("../../assets/font-bouton.png");
    background-size: 100% 100%;
    height: 70px;
    width: 80%;
    font-family: "Formula1-Regular";
    margin: 8px;
    font-size: 26px;
    color: white;
    position: relative;
    right: -7%;
}
.btnSelect:hover{
    transform: scale(1.1);
    font-weight: bold;
    
}

.btnValid{
    background-image: url("../../assets/font-bouton.png");
    background-size: 100% 100% ;
    text-align: center;
    font-family: "Formula1-Regular"; 
    color: white;
    height: 70px;
    width: 15%;
    //line-height: 70px;
    font-size: 31px;
}

.btnValid:hover{
    transform: scale(1.1);
    font-weight: bold;
}
.piloteVide{
    background-image: url("../../assets/bouttonsel.png");
    background-size: 100% 100% ;
    text-align: center;
    font-family: "Formula1-Regular"; 
    height: 70px;
    width: 15%;
    line-height: 70px;
    font-size: 20px;
    margin-bottom: 5 px;
}


#btnValid:hover{
    transform: scale(1.1);
    font-weight: bold;
  }
  
.remplissage{
    height: 300px;
}
#imagePiloteSelect1{
    display: flex;
    align-items: center;
}
#petitePiece{
    height: 20px;
}