
<!--<div class="card mt-4p">
    <div class="centre">
    <div class="card-header bg-info text-black">
        <h2>Mes pilotes</h2>
        
        <div class="card" style="width: 18rem;">
           <span *ngFor="let pilote of list()"> 
            <img src={{pilote.imagePilote}} class="card-img-top" alt="pilote">
            <div class="card-body">
              <div class="card-text">
                <p>Nom : {{pilote.nom}}</p>
                <p>Prenom : {{pilote.prenom}}</p>
                <p>Age : {{pilote.age}}</p>
                <p>Nationalite : {{pilote.nationalite}}</p>
                <p>Civilite : {{pilote.civ}}</p>
                <p>Experience : {{pilote.experience}}</p>
                <p *ngIf="!pilote.etat">Prix : {{pilote.prix}}</p>
                <button *ngIf="!pilote.etat">Selectionner</button>
            </div>
            </div>
        </span> 
          </div>
        </div>
          </div> -->
        
<!--Version 2-->

        <!-- <div class="card" style="width: 18rem;">
           <span *ngFor="let pilote of list()"> 
            <img src={{pilote.imagePilote}} class="card-img-top" alt="pilote">
            <div class="card-body">
              <h5 class="card-title">Pilote {{pilote.id}}</h5>
              <p class="card-text">Informations sur le pilote {{pilote.id}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Nom : {{pilote.nom}}</li>
              <li class="list-group-item">Prenom : {{pilote.prenom}}</li>
              <li class="list-group-item">Age : {{pilote.age}}</li>
              <li class="list-group-item">Nationalite : {{pilote.nationalite}}</li>
              <li class="list-group-item">Civilite : {{pilote.civ}}</li>
              <li class="list-group-item">Experience : {{pilote.experience}}</li>
              <li class="list-group-item" *ngIf="!pilote.etat">Prix : {{pilote.prix}}</li>
              <button *ngIf="!pilote.etat">Selectionner</button>
            </ul>
    </span> 
            <div class="card-body">
                
            </div>
          </div>-->


          <!--Affichage connecté-->

          


          
          <div id="bck-img" class="card mt-4p">
            
            <div class="card-header  text-black">
                <h1 id="titre">Mes pilotes</h1>
                <span id="argent"><h2>Solde : {{ecurie.argent}}<img id="pieces" src="../../assets/pieces.png" alt=""></h2> </span>
                
          <!-- Carrousel -->
          
          <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" >
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let pilote of list() ; let i = index" [ngClass]="{'active': (i === 0 && active==0) || pilote.id==active}">
                    <!-- Card-->
                    <div class="card" style="width: 18rem;">
                      
                    <img src={{pilote.imagePilote}} class="card-img-top" alt="pilote">

                    <div class="card-body">
                      <h3  class="card-title"> {{pilote.civ}}. {{pilote.prenom}} {{pilote.nom}} <br>
                          <img id="cadenas-ouvert" *ngIf="pilote.etat" src="../../assets/cadenas-ouvert.png" alt="cadenas ouvert">
                          <img id="cadenas" *ngIf="!pilote.etat" src="../../assets/cadenas.png" alt="cadenas fermé">
                      </h3>
                      <p class="card-text"> </p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span class="infos">Age : </span> {{pilote.age}}</li>
                      <li class="list-group-item"><span class="infos">Nationalite : </span> {{pilote.nationalite}}</li>
                      <li class="list-group-item"><span class="infos">Experience : </span> {{pilote.experience}}</li>
                      <li class="list-group-item" *ngIf="!pilote.etat" ><span class="infos">Prix : </span>{{pilote.prix}}</li>
                     </ul>
                     <button class="btnSelect" *ngIf="pilote.etat" (click)="select(pilote)" >Selectionner</button>
                     <button class="btnSelect" *ngIf="!pilote.etat" (click)=acheter(pilote) >Acheter</button> <!--ngIf inventaire.etat? si modif inventaire?-->

              </div>
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    
<!-- Choisir pilotes-->

   <div class="footer">
    <div *ngIf="pilotes[0]" class="piloteSelect" [ngClass]="{'piloteSelect1' : choixPilote==0}"
      (click)="choixV(0)">
      <div class="card" style="width: 100%;">
        <img [src]="pilotes[0].imagePilote" class="piloteSelect" id="imagePiloteSelect1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{pilotes[0].prenom}} {{pilotes[0].nom}}</p>
        </div>
      </div>
    </div>
    <button *ngIf="!pilotes[0]" class="piloteVide" (click)="choixV(0)" [ngStyle]="{'font-weight': choixPilote == 0 ? 'bolder' : ''}">Pilote 1</button>

    <div *ngIf="pilotes[1]" class="piloteSelect" [ngClass]="{'piloteSelect1' : choixPilote==1}"
      (click)="choixV(1)">
      <div class="card" style="width: 100%;">
        <img [src]="pilotes[1].imagePilote" class="card-img-top" id="imagePiloteSelect2" alt="...">
        <div class="card-body">
          <p class="card-text">{{pilotes[1].prenom}} {{pilotes[1].nom}}</p>
        </div>
      </div>
    </div>
    <button *ngIf="!pilotes[1]" class="piloteVide" (click)="choixV(1)" [ngStyle]="{'font-weight': choixPilote == 1 ? 'bolder' : ''}">Pilote 2</button>
    <button class="btnValid" (click)="valider()" [routerLink]="['/ecurie']" routerLinkActive="active">Valider</button>
  </div>

</div>

          
          






          

    
