<div id="header">FIN DE LA COURSE</div>

<div class="card">


    
<div id="contenuPrincipal">
    <div id="position">
        <div class="card-title">POSITION</div>
        <div id="echelle" *ngFor ="let v of score();let i = index">
            <div >{{i+1}} - {{v.ecurie.nom}}</div>
        </div>
    </div>
   
    <div>
        <div style="background: #ffffffed;color: black; font-size: 25px;display: flex; justify-content: center;">PLACE :</div>
    <div id="you">
        
        <div *ngFor ="let v of score();let i = index">
            <div id="trophee" *ngIf="v.ecurie.nom == ecurie.nom">{{i+1}}</div>
           
        </div>
    </div>
    <div *ngFor ="let v of score();let i = index">

        <div  style="color: black; font-size :16px;display: flex; justify-content: center;" *ngIf="v.ecurie.nom == ecurie.nom">Cashprize : {{course?.cashPrize-(i*10000)}}<img id="pieces" src="../../assets/pieces.png" alt=""></div> 
          </div>  
          <br><br> 
          <div > <a [routerLink]="['/saison']" routerLinkActive="active"><button id="btnValid" (click)="courseSuivante()">RETOUR SAISON</button></a></div>
         
</div>
    <div id="podium">
        <div class="card-title">PODIUM</div>
        <div id="echelle" *ngFor ="let v of score();let i = index">
            <div  *ngIf="i < 3">{{i+1}} - {{v.ecurie.nom}}</div>
        </div>
    </div>

    
      
</div> 
        
</div>
    



