@font-face {
  font-family:"Formula1-Regular";
  src : url(../../assets/Formula1-Regular.ttf);
}
@font-face {
  font-family:"Formula";
  src : url(../../assets/Formula.ttf);
}

#contenuPrincipal{
  display: flex;
}

#contenuSecondaire{
  flex-direction: column;
}

#titrePrincipal{
  font-family:"Formula1-Regular";
  text-align: center;
  text-transform: uppercase;
  color: red;
  background-color: black;
  margin: 0;
}

#titreCourse{
  font-family:"Formula";
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: red;
  background-color: black;
}

#titreCourse2{
  font-family:"Formula1-regular";
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: red;
  background-color: black;
}

#titre{
  font-family:"Formula1-Regular";
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 5px;
}

#contenuPilote{
  border: solid red 5px;
  border-radius: 10%;
  font-family: Formula1-regular;
  font-size: 15px;
  color: black;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 10%;
}

#contenuVoiture{
  border: solid green 5px;
  border-radius: 10%;
  font-family: Formula1-regular;
  font-size: 15px;
  color: black;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 10%;
  width : 99%;
}

#contenuInfra{
  border: solid blue 5px;
  border-radius: 10%;
  font-family: Formula1-regular;
  font-size: 15px;
  color: black;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 10%;
  width : 99%;
}

#image{
  border: solid blue 4px;
  border-radius: 10%;
  width : 60%;
}

#bouton {
  font-family:"Formula1-Regular";
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: red;
  border: solid orange 5px;
  border-radius: 10%;
  background-color: black;
}
