<div class="card-header  text-black">
    <h1 id="titrePrincipal">Course {{courseTest?.id}}</h1>
        <div id="titreCourse">{{courseTest?.nom}} </div> 
        <div id="titreCourse2">{{courseTest?.nombreTour}} tours</div>
</div>

<div id="contenuPrincipal">
    
    <img id="image" src="{{courseTest?.image}}">
   
    <div id="contenuSecondaire">
        <div id="contenuPilote">
            <div id="titre">Pilotes</div>
            <ul *ngFor="let p of ecurie?.pilotes">
                <br><br>
                <li>{{p?.civ}} {{p?.prenom}} {{p?.nom}} | Nationalité : {{p?.nationalite}} | Xp: {{p?.experience}}</li>
                <br><br>
            </ul>
        </div>

        
        <div id="contenuVoiture">
            <div id="titre">Voitures</div>
            <ul *ngFor="let p of ecurie?.voitures">
                <br><br>
                <li>{{p?.marque}} | Maniabilité: {{p?.maniabilite}} | Poids: {{p?.poids}} | Vitesse max : {{p?.vitesse}}km/h</li>
            </ul>
        </div>
    
        <div id="contenuInfra">
            <div id="titre">Infrastructures</div>
            <ul *ngFor="let p of ecurie?.infrastructures">
                <br><br>
                <li>{{p?.nom}} | Ingénieurs : {{p?.nbIngenieurs}}</li>
            </ul>
        </div>
    

    <a [routerLink]="['jeu/']" routerLinkActive="active"> <button id="bouton"> LANCER LA COURSE ! </button> </a><!--href="jeu/"-->
</div>
</div> 
<div class="container-fluid">
    <router-outlet></router-outlet>
  </div>



     
     
     

