<button (click)="findCourse(1)">
    Course  
 </button>

 
 <button (click)="findEcurie(1)">
    Ecurie   
 </button>
 <!-- <button (click)="findPilote(3)">
    Pilote
</button>
<button (click)="findVoiture(1)">
    Voiture
</button> -->

<div class="card-header  text-black">
    <h1 id="titre">Course {{saisonTest.id}}</h1>
        <div id="titreCourse">{{saisonTest.nom}} <br>{{saisonTest.nombreTour}} tours</div>
</div>


<div id="contenuPrincipal">
    <img id="image" src="{{saisonTest.image}}">
   

    <table id="contenuPilote">
        <thead>
            <tr>
                <th>PILOTES</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of ecurie.pilotes">
                <td>{{p.prenom}}</td>
                <td>{{p.nom}}</td>
                <td>{{p.nationalite}}</td>
                <td>{{p.experience}}</td>
                <td></td>
        </tbody>
    </table>

    <table id="contenuVoiture" class="table">
        <thead>
            <tr>
                <th>VOITURES</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of ecurie.voitures">
                <td>{{p.marque}}</td>
                <td>{{p.vitesse}}</td>
                <td></td>
        </tbody>
    </table>
 
</div>
    
 

     
     
     

