<div class="background-image">


  <div class="card-header  text-black">
    <h1 id="titre">Mes voitures</h1>
        <span id="argent"><h2>Solde : </h2><h4><!--{{ecurie.argent}}--></h4></span>
    
<div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false">
    <div class="carousel-inner">
      <!-- ngfor loop using get dynamic value and ngclass for add acive class -->
      <div class="carousel-item" *ngFor="let voit of list(); let i = index" [ngClass]="{'active': i === 0}" >
        <!-- card -->
        <div class="card" style="width: 60%;">
            <img class="card-img-top" [src]="voit.image" alt="Card image cap">
            <div class="card-body" class="text-center">
                <h5 class="card-title">{{voit.marque}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Maniabilité : {{voit.maniabilite}}</li>
                    <li class="list-group-item">Vitesse : {{voit.vitesse}}</li>
                    <li class="list-group-item">Poids : {{voit.poids}}</li>
                </ul>
            </div>
            <div class="card-footer" class="text-center">
                <div><button *ngIf="voit.etat" class="btn btn-primary">Sélectionner</button><button *ngIf="!voit.etat" class="btn btn-primary">Acheter : {{voit.prix}} ฿</button></div>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
