<div id="bck-img" class="card mt-4p">
            
    <div class="card-header  text-black">
        <h1 id="titre"> <br> <span id="f1"> F1</span> Manager</h1>
        </div>
<div><br></div>
        <div class="p-2 bd-highlight">
            <div class="card text-white bg-dark mb-3 " style="max-width: 50rem;">
              <div class="card-header">  Bienvenue sur   F1  Manager!</div>
              <div class="card-body">
                <h5 class="card-title"><span id="f1">F1</span> Manager, c'est quoi?</h5><br>
                <p class="card-text"> F1 Manager est un jeu de simulation de course de Formule 1. Ton objectif, si tu décides de rejoindre l'aventure, sera d'obtenir le meilleur classement à la fin de chaque saison de Formule 1. Pour cela, tu devras affronter une IA, et faire les meilleurs choix pour gagner. </p>
                <p id="espace">***</p>
                <p> Tu pourras personnaliser ta propre écurie de Formule 1 grâce à ton inventaire personnel. En effet, par le biais de cet inventaire, il te sera possible de débloquer au fur et à mesure des voitures et des pilotes de plus en plus performants.</p>
                <p id="espace">***</p>
                <p>Plus tu obtiendras un classement élevé lors des courses, plus ta cagnotte personnelle augmentera. Tu pourras alors t'offrir les meilleurs pilotes.</p>
              </div>
              
            </div>
            <img id="pilote" src="./../assets/pilote 1.png" alt="pilote">
          </div>
            <button class="btn" (click)="redirection()" >VROUM VROUM</button>
            <div  id="voiture">
            <img src="./../assets/voiture_avance.gif" alt="">
          </div>
    </div>
    
   <!-- <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>-->
