
<div class="card">
   
<div id="nomEcurie">{{ecurie?.nom}}</div>
        
<div id="contenuPrincipal">
    
    <div id="contenuPilote">
        <div id="titre">Pilotes</div>
        <ul *ngFor="let p of ecurie?.pilotes">
            <br><br>
            <li > {{p?.civ}} {{p?.prenom}} {{p?.nom}} | Nationalité : {{p?.nationalite}} | Xp: {{p?.experience}}</li>
            <br><br>
        </ul>
    </div>

    
    <div id="contenuVoiture">
        <div id="titre">Voitures</div>
        <ul *ngFor="let p of ecurie?.voitures">
            <br><br>
            <li > {{p?.marque}} | Maniabilité: {{p?.maniabilite}} | Poids: {{p?.poids}} | Vitesse max : {{p?.vitesse}}km/h <img src="{{p?.image}}"></li>
        </ul>
    </div>
  
    <div id="contenuInfra">
        <div id="titre">Infrastructures</div>
        <ul *ngFor="let p of ecurie?.infrastructures">
            <br><br>
            <li >{{p?.nom}} | Ingénieurs : {{p?.nbIngenieurs}}</li>
        </ul>
    </div>

</div>

<br><br>

<div><button [routerLink]="['/course']" routerLinkActive="active" id="bouton">LANCER LA SAISON</button></div><!--href="course/" -->

<!-- <div><a href="course/"><button (click)="lancerSaison(ecurie.id)" >LANCER SAISON</button></a></div> -->

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
    

