<div class="card">
    
        <h2>Ecurie</h2>
    
<div>

    <button (click)="findEcurie(1)">
       button   
    </button>

    <div>{{ecurie.nom}}</div>
    <div><ul *ngFor="let p of ecurie.pilotes">
        <li >Nom : {{p.prenom}} {{p.nom}}</li>
    </ul></div>
    <div><ul *ngFor="let p of ecurie.voitures">
        <li > Marque :{{p.marque}} - {{p.vitesse}}km/h Visuel :{{p.image}}</li>
    </ul></div>
    <div><ul *ngFor="let p of ecurie.infrastructures">
        <li >Nom :{{p.nom}} {{p.nbIngenieurs}}/10</li>
    </ul></div>
</div>
    <!-- <div> {{ecurie.voitures.marque}} </div> -->
    <!-- <div> {{ecurie.infrastructures.nom}}</div> -->


    

